
body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1rem;
    align-items: center;
    background-color: #3a3a3a;
    color: #ffffff;
    justify-content: space-between;

}

#rounds {
    font-size: 2rem;
    width: 100%;
}
#time{
    font-size: 6rem;
}

#button\ row {
    align-items: center;
    width: 110%;
    display: flex;
    height: 20%;
    justify-content: space-around;

}

button {
    width: 33%;
    height: 100%;
    font-size: 1.9rem;
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 0px;
    margin: 3%;
    text-align: center;
}

#menue {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 1px;
    top: 1px;
    background-image: url("res/menuIcon 2.png");
    background-size: 250px;
}

/* Destop sigh */
@media (min-width: 700px) {

    body, html {
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: 2.5rem;
        align-items: center;
        background-color: #3a3a3a;
        color: #ffffff;
        width: 100%;

    }

    #rounds {
        font-size: 2rem;
        width: 100%;
    }

    #button\ row {
        align-items: center;
        width: 130%;
        display: flex;
        height: 20%;
        justify-content: space-evenly;

    }

    button {
        width: 30%;
        height: 100%;
        font-size: 1rem;
        background-color: #3a3a3a;
        color: #ffffff;
        padding: 8px;
        text-align: center;
    }

    #menue {
        width: 250px;
        height: 250px;
        position: absolute;
        left: 1px;
        top: 1px;
        background-image: url("res/menuIcon 2.png");
        background-size: 250px;
    }


}